<h1>Beers</h1>

<%= render partial: 'shared/search', locals: {
  objects: "beers",
  object_name: "beer_name"
} %>

<ul>
  <% @beers.each do |b| %>
    <li>
      <%= link_to b.name, b %><br>
      Brewery: <%= link_to b.brewery.name, b.brewery  %><br>
      Style: <%= b.style.name %><br>
    </li>
    <br>
  <% end %>
</ul>
