<h1>Beers</h1>
<!-- <%= params.inspect %> -->
<ul>
  <% @beers.each do |b| %>
    <li>
      <%= link_to b.name, b %><br>
      Brewery: <%= link_to b.brewery.name, b.brewery  %>
    </li>
    <br>
  <% end %>
</ul>

<%= render partial: 'shared/search', locals: {objects: "beers", object_name: "beer_name"} %>
